<h2>{{name}}</h2>
<p>Most recent jobs (Maximum 100)</p>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>State</th>
    <th>Pri</th>
    <th>Age</th>
    <th>Time-Left</th>
    <th>Delay</th>
    <th>Reserves</th>
    <th>Releases</th>
    <th>Buries</th>
    <th>Timeouts</th>
    <th>TTR</th>
    <th>Kicks</th>
    <th>Body</th>
  </thead>
  <tbody>
  </tbody>
</table>